<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="parent-triangle" class="com.demo.Triangle">
        <property name="height" value="23"/>
    </bean>
    <bean id="triangle" class="com.demo.Triangle" parent="parent-triangle">
        <property name="altitude" value="24"/>
    </bean>

</beans>