<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="triangle" class="com.demo.Triangle">
        <constructor-arg value="24"/>
        <constructor-arg value="Right"/>
    </bean>

    <!--Using TYpe-->
    <!--<bean name="triangle" class="com.demo.Triangle">
        <constructor-arg value="Right" type="java.lang.String"/>
        <constructor-arg value="23"/>
    </bean>-->

    <!--Using Index-->
   <!-- <bean name="triangle" class="com.demo.Triangle">
        <constructor-arg value="Right" index="1"/>
        <constructor-arg value="23"/>
    </bean>-->
</beans>